# Ignore everything in data and results directories
data/*
results/*

# But not the directories themselves
!data/
!results/

# And not the README files
!data/README.md
!results/README.md

# Also don't ignore subdirectories, but ignore their contents
!data/*/
!results/*/
data/*/*
results/*/*

# Except for README files in subdirectories
!data/*/README.md
!results/*/README.md

# Ignore all tar files
*.tar

# Excluding all __pycache__-folders
**/__pycache__/

# Excluding all .pyc-files
*.pyc